{% extends "layout/base.html" %}

{% load static %}

{% block title %}NAGOYAMESHI{% endblock %}

{% block content %}

    <main>
        <div class="container nagoyameshi-container pb-5">
            <div class="row justify-content-center">
                <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'top_page' %}">ホーム</a></li>
                        <li class="breadcrumb-item active" aria-current="page">店舗一覧</li>
                    </ol>
                </nav>
                <div class="col-xl-3 col-lg-4 col-md-12">
                    <form method="GET" class="w-100 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="店舗名・エリア・カテゴリ"
                                name="keyword"
                                value={% if keyword_session %}{{ keyword_session }}{% else %}""{% endif %}>
                            <input type="hidden" name="button_type" value="keyword">
                            <button type="submit" class="btn btn-primarytext-white shadow-sm">検索</button>
                        </div>
                    </form>
                    <div class="card mb-3">
                        <div class="card-header">
                            カテゴリから探す
                        </div>
                        <div class="card-body">
                            <form method="GET" class="w-100">
                                <div class="form-group mb-3">
                                    <select class="form-control form-select" name="category" required>
                                        <option value="">選択してください</option>
                                        {% for category in category_list %}
                                            <option value="{{ category.name }}"
                                                {% if category_session == category.name %}selected{% endif %}>{{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="hidden" name="button_type" value="category">
                                <div class="form-group">
                                    <button type="submit" class="btnbtn-primary text-white shadow-sm w-100">検索
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            予算から探す
                        </div>
                        <div class="card-body">
                            <form method="GET" class="w-100">
                                <div class="form-group mb-3">
                                    <select class="form-control form-select" name="price" required>
                                        <option value="">選択してください</option>
                                        <option value="500" {% if price_session == "500" %}selected{% endif %}>500円
                                        </option>
                                        <option value="1000" {% if price_session == "1000" %}selected{% endif %}>
                                        1,000円
                                        </option>
                                        <option value="1500" {% if price_session == "1500" %}selected{% endif %}>
                                        1,500円
                                        </option>
                                        <option value="2000" {% if price_session == "2000" %}selected{% endif %}>
                                        2,000円
                                        </option>
                                        <option value="2500" {% if price_session == "2500" %}selected{% endif %}>
                                        2,500円
                                        </option>
                                        <option value="3000" {% if price_session == "3000" %}selected{% endif %}>
                                        3,000円
                                        </option>
                                        <option value="3500" {% if price_session == "3500" %}selected{% endif %}>
                                        3,500円
                                        </option>
                                        <option value="4000" {% if price_session == "4000" %}selected{% endif %}>
                                        4,000円
                                        </option>
                                        <option value="4500" {% if price_session == "4500" %}selected{% endif %}>
                                        4,500円
                                        </option>
                                        <option value="5000" {% if price_session == "5000" %}selected{% endif %}>
                                        5,000円
                                        </option>
                                        <option value="5500" {% if price_session == "5500" %}selected{% endif %}>
                                        5,500円
                                        </option>
                                        <option value="6000" {% if price_session == "6000" %}selected{% endif %}>
                                        6,000円
                                        </option>
                                        <option value="6500" {% if price_session == "6500" %}selected{% endif %}>
                                        6,500円
                                        </option>
                                        <option value="7000" {% if price_session == "7000" %}selected{% endif %}>
                                        7,000円
                                        </option>
                                        <option value="7500" {% if price_session == "7500" %}selected{% endif %}>
                                        7,500円
                                        </option>
                                        <option value="8000" {% if price_session == "8000" %}selected{% endif %}>
                                        8,000円
                                        </option>
                                        <option value="8500" {% if price_session == "8500" %}selected{% endif %}>
                                        8,500円
                                        </option>
                                        <option value="9000" {% if price_session == "9000" %}selected{% endif %}>
                                        9,000円
                                        </option>
                                        <option value="9500" {% if price_session == "9500" %}selected{% endif %}>
                                        9,500円
                                        </option>
                                        <option value="10000" {% if price_session == "10000" %}selected{% endif %}>
                                        10,000円
                                        </option>
                                    </select>
                                </div>
                                <input type="hidden" name="button_type" value="price">
                                <div class="form-group">
                                    <button type="submit" class="btnbtn-primary text-white shadow-sm w-100">検索
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="d-flex justify-content-between flex-wrap">
                        <p class="fs-5 mb-3">
                            {{ restaurant_list|length }}件の店舗が見つかりました
                            <span class="fs-6"> </span>
                        </p>
                        <form method="GET" class="mb-3 sort-box">
                            <select class="form-select form-select-sm" name="select_sort"
                                    aria-label=".form-select-sm example" onChange="this.form.submit();">
                                <option value="-created_at" hidden>掲載日が新しい順</option>
                                <option value="-created_at"
                                    {% if select_sort_session == "-created_at" %}selected{% endif %}>掲載日が新しい順
                                </option>
                                <option value="price" {% if select_sort_session == "price" %}selected{% endif %}>
                                    価格が安い順
                                </option>
                                <option value="-rate" {% if select_sort_session == "-rate" %}selected{% endif %}>
                                    評価が高い順
                                </option>
                                <option value="-reservation_num"
                                    {% if select_sort_session == "-reservation_num" %}selected{% endif %}>予約数が多い順
                                </option>
                            </select>
                            <input type="hidden" name="button_type" value="select_sort">
                        </form>
                    </div>
                    


                    {% for restaurant,rate,rate_star,rate_num in restaurant_list %}
                        <div class="mb-3">
                            <a href="{% url 'restaurant_detail' restaurant.id %}" class="link-dark card-link">
                                <div class="card h-100">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if restaurant.photo %}
                                                <img src="{{ restaurant.photo.url }}"
                                                    class="card-img-tophorizontal-card-image">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title">{{ restaurant.name }}</h3>
                                                <div class="col d-flextext-secondary">
                                                    <div>
                                                        {{ restaurant.category }}
                                                    </div>
                                                </div>
                                                <hr class="my-2">
                                                <p class="mb-1">
                                                    <span class="star-ratingme-1" data-rate="{{ rate_star }}"></span>
                                                    {{ rate }} （{{ rate_num }}件）
                                                </p>
                                                <div class="mb-1">
                                                    <span>{{ restaurant.price }}</span>
                                                </div>
                                                <p class="card-text">{{ restaurant.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    

                    <!--
                    {% for restaurant in restaurant_list %}
                        <div class="mb-3">
                            <a href="{% url 'restaurant_detail' restaurant.id %}" class="link-dark card-link">
                                <div class="card h-100">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            {% if restaurant.photo %}
                                                <img src="{{ restaurant.photo.url }}" class="card-img-top horizontal-card-image">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title">{{ restaurant.name }}</h3>
                                                <div class="col d-flex text-secondary">
                                                    <div>
                                                        {{ restaurant.category }}
                                                    </div>
                                                </div>
                                                <hr class="my-2">
                                                <p class="mb-1">
                                                    <span class="star-rating me-1" data-rate="{{ average_rate_star_list.forloop.counter0 }}"></span>
                                                    {{ average_rate_list.forloop.counter0 }} （{{ rate_num_list.forloop.counter0 }}件）
                                                </p>
                                                <div class="mb-1">
                                                    <span>{{ restaurant.price }}</span>
                                                </div>
                                                <p class="card-text">{{ restaurant.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    -->

                    
                    <!-- デバッグ用にリストの内容を表示 -->
                    <div>
                        <h3>Debug Information</h3>
                        <p>restaurant_list: {{ restaurant_list }}</p>
                        <p>average_rate_list: {{ average_rate_list }}</p>
                        <p>average_rate_star_list: {{ average_rate_star_list }}</p>
                        <p>rate_num_list: {{ rate_num_list }}</p>
                    </div>
                
                
                


                    <div class="d-flex justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

