{% extends "layout/base.html" %}

{% load static %}

{% block title %}NAGOYAMESHI{% endblock %}

{% block content %}

<main>
    <div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="deleteReviewModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteReviewModalLabel">レビューを削除してもよろしいですか？</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-footer">
                    <form action="" method="post" name="deleteReviewForm">
                        {% csrf_token %}
                        <button id="review-delete-button" type="button" class="btn btn-danger text-white shadow-sm">
                            削除
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="container nagoyameshi-container pb-5">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10">
                <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'top_page' %}">ホーム</a>
                        </li>
                        <li class="breadcrumb-item"><a
                            href="{% url 'restaurant_list' %}?keyword=&button_type=keyword">店舗一覧</a>
                        </li>
                        <li class="breadcrumb-item"><a
                            href="{% url 'restaurant_detail' restaurant.id %}">店舗詳細</a></li>
                        <li class="breadcrumb-item active" aria-current="page">レビュー</li>
                    </ol>
                </nav>

                <h1 class="mb-2 text-center">{{ restaurant.name }}</h1>
                <p class="text-center">
                    <span class="star-rating me-1" data-rate="{{ average_rate_star }}"></span>
                    {{ average_rate }} （{{ rate_count }}件）
                </p>

                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link link-dark"
                            href="{% url 'restaurant_detail' restaurant.id %}">トップ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark"
                            href="{% url 'reservation_create' restaurant.id %}">予約</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active bg-primary text-white" aria-current="page"
                            href="{% url 'review_list' restaurant.id %}">レビュー</a>
                    </li>
                </ul>

                {% for review in object_list %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <div>
                            {{ review.user.user_name }}
                        </div>
                        {% if review.user.user_name == user.user_name %}
                        <div>
                            {# TODO:1#}
                            <a href="{% url 'review_update' review.id %}"
                                {# <a href="{% url 'review_update' review.id %}" #}
                                    class="me-2">編集</a>
                            <a href="#" class="link-secondary" data-bs-toggle="modal"
                                data-bs-target="#deleteReviewModal" data-review-id="{{ review.id }}">削除</a>
                        </div>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="star-rating"
                            data-rate="{{ average_rate }}"></span></li>
                        <li class="list-group-item">{{ review.comment }}</li>
                    </ul>
                </div>
                {% endfor %}

                <!-- 有料プランに登録していれば表示する -->
                <!-- ページネーション処理 -->
                {% if is_paginated %}
                <div class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination">
                            <!-- 前ページへのリンク -->
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                    rel="prev" aria-label="&laquo; 前">&lsaquo;</a>
                            </li>
                            {% endif %}

                            <!-- ページ数表示 -->
                            {% for page_num in page_obj.paginator.page_range %}
                            {% if page_obj.number == page_num %}
                            <li class="page-item active" aria-current="page"><span
                                class="page-link">{{ page_num }}</span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link"
                                href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <!-- 次ページへのリンク -->
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ page_obj.next_page_number }}"
                                    rel="next" aria-label="次&raquo;">&rsaquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}

                <!-- 有料プランに登録しておらず、レビュー数が3件を超えていれば表示する -->

                <!-- 有料プランに登録しており、レビューを投稿済みでなければ表示する -->
                {% if not is_posted %}
                <div class="text-center mt-3">
                    {# TODO:2#}
                    <a href="{% url 'review_create' restaurant.id %}"
                        {# <a href="{% url 'review_create' restaurant.id %}" #}
                            class="btn btn-primary text-white shadow-sm w-50">レビューを投稿する</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js_script %}
<script src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
</script>

<script>
    const deleteReviewForm = document.forms.deleteReviewForm;

document.getElementById('deleteReviewModal').addEventListener('show.bs.modal',
(event) => {
    let deleteButton = event.relatedTarget;
    let reviewId = deleteButton.dataset.reviewId;

    console.log('reviewId', reviewId)


document.getElementById('review-delete-button').addEventListener('click', () =>
{
            deleteReview(reviewId)
        });
    });

    function deleteReview(id) {
        $.ajax({
            url: "/review-delete",
            type: "GET",
            data: {
                pk: id
            },
            dataType: "json",
            success: function (result) {
                $('#deleteReviewModal').modal('hide');
                location.reload()
            },
            error: function () {
                alert('error')
            }
        });
    }
</script>
{% endblock %}
